<!DOCTYPE html>
<title>Isucon Portal</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<div class="container">
  <div class="clearfix">
    <div class="pull-left">
      Login: <%= current_user ? (current_user.name + ' (' + current_user.team.name + ')') : 'not login' %>
    </div>
    <div class="pull-right">
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="clearfix">
    <% if notice %><p class="notice bg-success"><%= notice %></p><% end %>
    <% if alert %><p class="alert bg-warning"><%= alert %></p><% end %>
  </div>
  <%= yield %>
</div>
