<%- include('header.ejs') %>
<div>
  <form method="post" action="/admin/banned">
    <% users.forEach(function(user) { %>
    <div>
      <input type="checkbox" name="uid[]" id="uid_<%= user.id %>" value="<%= user.id %>" data-account-name="<%= user.account_name %>"> <label for="uid_<%= user.id %>"><%= user.account_name %></label>
    </div>
    <% }); %>
    <div class="form-submit">
      <input type="hidden" name="csrf_token" value="<%= me ? me.csrfToken : '' %>">
      <input type="submit" name="submit" value="submit">
    </div>
  </form>
</div>
<%- include('footer.ejs') %>
