<%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>

<h1>Portal</h1>

<div>
  <p>Waiting: <%= @job_stats[:waiting] %></p>
  <p>Running: <%= @job_stats[:running] %></p>
  <p>Finished: <%= @job_stats[:finished] %></p>
</div>

<div>
  <% if Job.time_wait?(team: current_user.team) %>
    <%= button_to 'Run Benchmarker', jobs_path, method: :post, class: 'btn btn-primary btn-lg center-block' %>
  <% else %>
    <%= button_to 'Run Benchmarker', jobs_path, method: :post, class: 'btn btn-primary btn-lg center-block disabled' %>
  <% end %>
</div>

<div>
  <%= line_chart @chart_data %>
</div>

<h3>トップスコア</h3>

<div>
  <%= bar_chart @ordered_score %>
</div>

<h3>ベンチマークの実行状況</h3>

<% @jobs.each do |j| %>
<span class="job-exec-status <%= j.status == 'Running' ? 'job-running' : 'job-waiting' %>"><%= sprintf("%02d", j.team_id) %></span>
<% end %>

<h3>あなたのチームのスコア</h3>

<% unless @my_scores.empty? %>
  <table class="table">
    <tr>
      <th>時刻</th>
      <th>PASS/FAIL</th>
      <th>スコア</th>
      <th style="width: 500px;">メッセージ</th>
    </tr>
    <% @my_scores.each do |score| %>
      <tr>
        <td><%= score.created_at %></td>
        <td><%= score.pass ? 'PASS' : 'FAIL' %></td>
        <td><%= score.score %></td>
        <td>
          <% if score.message.length > 20 %>
          <span class="clickable expand-message" data-message="<%= score.message %>">
            <%= score.message.slice(0, 20) + '...' %>
          </span>
          <% else %>
          <span><%= score.message %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
