<div>
  <form method="post" action="/admin/banned">
    <% users.each do |u| %>
    <div>
      <input type="checkbox" name="uid[]" id="uid_<%= u[:id] %>" value="<%= u[:id] %>" data-account-name="<%= escape_html u[:account_name] %>"> <label for="uid_<%= u[:id] %>"><%= escape_html u[:account_name] %></label>
    </div>
    <% end %>
    <div class="form-submit">
      <input type="hidden" name="csrf_token" value="<%= escape_html session[:csrf_token] %>">
      <input type="submit" name="submit" value="submit">
    </div>
  </form>
</div>
