<h1>Iscogram</h1>

<div class="header">
  <% if user[:id] != 0 %>
  <%=  escape_html user[:account_name] %>さん
  <% else %>
  ログイン前
  <% end %>
</div>

<div class="isu-submit">
  <form method="post" action="/" enctype="multipart/form-data">
    <div class="isu-form">
      <input type="file" name="file" value="file">
    </div>
    <div class="isu-form">
      <textarea name="body"></textarea>
    </div>
    <div class="form-submit">
      <input type="hidden" name="csrf_token" value="<%= escape_html session.id %>">
      <input type="submit" name="submit" value="submit">
    </div>
  </form>
</div>

<div>
  <% display = 0 %>
  <% posts.each do |p| %>
  <%   next if users[p[:user_id]][:del_flg] == 1 %>
  <%   break if display > 30 %>
  <%   display = display + 1 %>
  <div class="isu-post">
    <div class="isu-post-image">
      <img src="/image/<%= p[:id] %>" class="isu-image">
    </div>
    <div class="isu-post-text">
      <%= escape_html(p[:body]).gsub(/\r?\n/, '<br>') %>
      <div class="isu-post-account-name">
        <%= escape_html(users[p[:user_id]][:account_name]) %>
      </div>
    </div>
    <div class="isu-post-comment">
      <% if comments[p[:id]] %>
      <%   comments[p[:id]].each do |c| %>
      <div class="isu-comment-text">
        <%= escape_html(c[:comment]) %>
        <span class="isu-comment-account-name"><%= escape_html(users[c[:user_id]][:account_name]) %></span>
      </div>
      <%   end %>
      <% end %>
      <form method="post" action="/comment">
        <input type="text" name="comment">
        <input type="hidden" name="post_id" value="<%= p[:id] %>">
        <input type="hidden" name="csrf_token" value="<%= escape_html session.id %>">
        <input type="submit" name="submit" value="submit">
      </form>
    </div>
  </div>
  <% end %>
</div>
