<div class="header">
  <div class="isu-title">
    <h1><a href="/">Iscogram</a></h1>
  </div>
  <div class="isu-account-name">
    <a href="/mypage">
      <%=  escape_html user[:account_name] %>さん
    </a>
  </div>
</div>

<div>
  <% mixed.each do |m| %>
  <div class="isu-mixed">
    <% if m[:type] == :post %>
    <div class="isu-post-image">
      <img src="/image/<%= m[:value][:id] %>" class="isu-image">
    </div>
    <div class="isu-post-text">
      <%= escape_html(m[:value][:body]).gsub(/\r?\n/, '<br>') %>
    </div>
    <% if m[:comments] && !m[:comments].empty? %>
      <% m[:comments].each do |c| %>
        <div class="isu-post-comment-text">
          <%= escape_html(c[:comment]) %>
          <span class="isu-comment-account-name"><%= escape_html(users[c[:user_id]][:account_name]) %></span>
        </div>
      <% end %>
    <% end %>
    <% elsif m[:type] == :comment %>
    <div class="isu-comment-text">
      <%= escape_html(m[:value][:comment]) %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
